*.swp
# we can't ignore the git folder, because the build process relies on it
# .git
.github
support/doc
support/nginx
support/systemd
support/docker/*/Dockerfile.*
support/docker/*/*.yml
storage
node_modules
client/node_modules
